<%- include('_partial/_header') -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <h2> &nbsp My Password List&nbsp;</h2>
    <p>Gmail: pTz4c*cu~UGh4%9F</p>
    <p>Yahoo: `NQ'pq$X6$</p>
    <p>Git-Hub: dN{2{8)Y[+QA</p>
    <p>ATM (SBI):  0420</p><br>
    <br>
    <%- include('_partial/_footer') -%>


    