<%- include('_partial/_header') -%>
<h1> Welcome to our Web Application Firewall</h1>
<p>protects web applications from a variety of application layer attacks such as Directory traversal Attacks.</p>
<%- include('_partial/_footer') -%>